/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: century gothic;
    float:right;
} */

/* header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) url(../1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
} */


/* body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
    height: 100hv;
    background-size: cover;
    background-position: center;
    margin: 25px;
} */


/* ul li{
display: inline-block;
} */

/* ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
} */

/* ul li.active a{
    background-color: white;
    color: black;
} */

/* ul li a:hover{
    background-color: white;
    color: black;
} */

/* .logo img{
    float: left;
    width: 150px;
    height: auto;
} */

/* .main{
    max-width: 1200px;
    margin: auto;
} */

/* .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/* .title h1{
    color: white;
    font-size: 70px;
} */

/* .button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%); 
    transition: 0,6s ease;
} */

/* .btn{
    border: 1px solid transparent;
    transition: 0,6s ease;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
} */

/* .btn:hover{
    background-color: white;
    color: black;
} */

/* ul li ul li{
    display: none;
    background-color: white;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    height: 60px;
    transition: 1s all;
    margin: auto;
} */

/* ul li:hover ul li{
    display: block;
    color: teal;
} */


body{
    background-color:black;
    margin: 0;
}
.main{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    text-align: center;
    margin-top: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border: 1px solid #bbb;
  }

  li:last-child{
      border-right: none;
  }

  li a {
    display: block;
    color: grey;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active{
      background-color: yellow;
  }
 
  .movies1{
      border:1px dashed white;
      background-color: yellow;
      border-radius: 2px;
  }

  .header1{
      color: yellow;
  }

.header2{
    color: yellow;
}

.series{
    border:1px dashed white ;
    background-color: yellow;
    border-radius: 2px;
}

.ratings{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    font-size: medium;
}

a:link {
    text-decoration: none;
  }